server:
  port: 8080
spring:
  application:
    name: bookstore-service
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: "username"
    password: "password"
    driver-class-name: org.postgresql.Driver
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
  sql.init.mode: always